@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  backdrop-filter: blur(10px);
}

.logo::after {
  content: url(../img/logo.png);
}

.btn-violet:hover {
  background-color: #7177f1;
  color: white;
}

.btn-violet {
  color: #7177f1;
  font-weight: 400;
  font-size: 24px;
}

.icon {
  color: #7177f1;
  font-size: 25px;
}

.icon:hover {
  color: #7177f1 !important;
}

.info {
  max-width: 520px;
}

.text-blue {
  color: #7177f1;
}

.btn-blue {
  background-color: #7177f1;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.btn-blue:hover{
  color: #7177f1;
  border: #7177f1 solid 1px;
}

.text {
  font-weight: 600;
  color: #323232;
  font-size: 24px;
}

.text-p {
  font-weight: 900;
  color: #7177f1;
  font-size: 18px;
}

.slider-left-icon-content p {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 20px;
  text-transform: capitalize;
  color: #7177f1;
  margin-top: 15px;
}

.carousel-indicators [data-bs-target] {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #7177f1;
}
.carousel-indicators {
  margin-bottom: 0;
  margin-left: 0;
}


.intro{
  min-height: 450px;
}

.intro-text{
  font-size: 18px;
  color: #323232;
  line-height: 150%;
}