@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  backdrop-filter: blur(10px);
}
.section {
  position: relative;
}

.rectangle {
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.rectangle-1 {
  border-color: #790ff1;
  width: 60px;
  height: 60px;
  left: 244px;
  border-radius: 50%;
  top: -45px;
  z-index: -1;
  animation: rec 10s linear infinite;
}
.rectangle-2 {
  border-color: #9297ef;
  width: 80px;
  height: 80px;
  transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
  top: 0;
  left: 20px;
  animation: rec 10s linear infinite;
}
.rectangle-3 {
  border-color: #9297ef;
  width: 100px;
  height: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  top: 0;
  right: 160px;
  animation: rec 10s linear infinite;
}
.rectangle-4 {
  border-color: #9297ef;
  width: 80px;
  height: 80px;
  transform: matrix(0.76, -0.66, 0.64, 0.76, 0, 0);
  bottom: 190px;
  right: 300px;
  z-index: 10;
  animation: rec 10s linear infinite;
}
.rectangle-6 {
  width: 100px;
  height: 100px;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
  color: #7177f1;
  right: 90px;
  bottom: 40px;
  animation: rec 10s linear infinite;
}
.rectangle-7 {
  width: 60px;
  height: 60px;
  color: #790ff1;
  border-radius: 50%;
  right: 780px;
  bottom: -98px;
  animation: rec 10s linear infinite;
}
.rectangle-8 {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  color: #790ff1;
  left: 125px;
  animation: rec 10s linear infinite;
}

@keyframes rec {
  0% {
    rotate: 360deg;
  }
}

.logo::after {
  content: url(../img/logo.png);
}

.btn-violet:hover {
  background-color: #7177f1;
  color: white;
}

.btn-violet {
  color: #7177f1;
  font-weight: 400;
  font-size: 24px;
}

.icon {
  color: #7177f1;
  font-size: 25px;
}

.icon:hover {
  color: #7177f1 !important;
}

.info {
  max-width: 520px;
}

.text-blue {
  color: #7177f1;
}

.btn-blue {
  background-color: #7177f1;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.btn-blue:hover {
  color: #7177f1;
  border: #7177f1 solid 1px;
}

.text {
  font-weight: 600;
  color: #323232;
  font-size: 24px;
}

.text-p {
  font-weight: 900;
  color: #7177f1;
  font-size: 18px;
}

.slider-left-icon-content p {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 20px;
  text-transform: capitalize;
  color: #7177f1;
  margin-top: 15px;
}

.carousel-indicators [data-bs-target] {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #7177f1;
}
.carousel-indicators {
  margin-bottom: 0;
  margin-left: 0;
}

.intro {
  min-height: 450px;
}

.intro-text {
  font-size: 18px;
  color: #323232;
  line-height: 150%;
}

.bg-salad {
  background-color: #0fdac2;
}

.img-width {
  width: 25px;
  margin-right: 20px;
}

.button-item span {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #7177f1;
}

.accordion-body {
  background-color: #7177f1;
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: #7177f1;
}
.accordion-button:not(.collapsed) span {
  color: white;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.category {
  min-height: 360px;
}

.control {
  height: 70px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}

.shadow-col-9 {
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
}

.size {
  max-width: 250px;
}

.img-size {
  min-height: 350px;
  object-fit: cover;
  width: 100%;
}

.nav-pills .nav-link.active {
  background: #7177F1;
}

.navlink-work {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  color: #7177F1;
}

.right-wave {
  z-index: -1;
  height: 1000px;
  top: 40%;
  max-width: 60vw;
}

.left-wave {
  top: -40%;
  z-index: -100;
  max-width: 60vw;
}

.footer{
  position: relative;
  margin-top: 220px;
  padding-bottom: 133px;
}

.footer-img {
  margin-bottom: 30px;
}
.footer-list {
  display: flex;
  gap: 60px;
}
.list-unstyled {
  padding-left: 0;
  flex-wrap: wrap;
}

.footer-list-link {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #7177F1;
}